USE [master]
GO
/****** Object:  Database [Facturacion]    Script Date: 6/04/2021 1:08:08 a. m. ******/
CREATE DATABASE [Facturacion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Facturacion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQL\MSSQL\DATA\Facturacion.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Facturacion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQL\MSSQL\DATA\Facturacion_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Facturacion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Facturacion]
GO
/****** Object:  User [jose]    Script Date: 6/04/2021 1:08:08 a. m. ******/
CREATE USER [jose] FOR LOGIN [jose] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  StoredProcedure [dbo].[CRUD_CLIENTES]    Script Date: 6/04/2021 1:08:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CRUD_CLIENTES]
	
	@PROCTYPE				INT=NULL,
	@ID_CLIENTE				INT	=NULL,
	@IDENTIFICACION_CLIENTE	VARCHAR(50)	=NULL,
	@NOMBRE_CLIENTE			VARCHAR(MAX)	=NULL,
	@DIRECCION_CLIENTE		VARCHAR(MAX)=NULL,
	@TELEFONO_CLIENTE		INT	=NULL,
	@EMAIL					VARCHAR(50)	=NULL,
	@ID_CATEGORIA_CLIENTE	INT	=NULL,
	@ID_TIPO_IDENTIFICACION	INT	=NULL,
	@EDAD					INT	=NULL


AS
BEGIN
	
	IF @PROCTYPE=1
	BEGIN
		SELECT	ID_CLIENTE,				
				IDENTIFICACION_CLIENTE,	
				NOMBRE_CLIENTE,			
				DIRECCION_CLIENTE,		
				TELEFONO_CLIENTE,		
				EMAIL,					
				ID_CATEGORIA_CLIENTE,	
				ID_TIPO_IDENTIFICACION,	
				EDAD					
				
		FROM Cliente 
		WHERE  ID_CLIENTE = ISNULL(@ID_CLIENTE, ID_CLIENTE)
				AND IDENTIFICACION_CLIENTE = ISNULL(IDENTIFICACION_CLIENTE,@IDENTIFICACION_CLIENTE)
				AND (NOMBRE_CLIENTE = ISNULL(@NOMBRE_CLIENTE,NOMBRE_CLIENTE))
				

	END

	IF @PROCTYPE = 2
	BEGIN
		INSERT INTO Cliente
		(
							
				IDENTIFICACION_CLIENTE,	
				NOMBRE_CLIENTE,			
				DIRECCION_CLIENTE,		
				TELEFONO_CLIENTE,		
				EMAIL,					
				ID_CATEGORIA_CLIENTE,	
				ID_TIPO_IDENTIFICACION,	
				EDAD		
		)
		VALUES
		(
								
				@IDENTIFICACION_CLIENTE,	
				@NOMBRE_CLIENTE,			
				@DIRECCION_CLIENTE,		
				@TELEFONO_CLIENTE,		
				@EMAIL,					
				@ID_CATEGORIA_CLIENTE,	
				@ID_TIPO_IDENTIFICACION,	
				@EDAD		
		)
		SELECT MAX(ID_CLIENTE) FROM Cliente

	END

	IF @PROCTYPE = 3
	BEGIN
		UPDATE Cliente
			   SET		
					IDENTIFICACION_CLIENTE=				@IDENTIFICACION_CLIENTE,	
					NOMBRE_CLIENTE=						@NOMBRE_CLIENTE,			
					DIRECCION_CLIENTE=					@DIRECCION_CLIENTE,		
					TELEFONO_CLIENTE=					@TELEFONO_CLIENTE,		
					EMAIL=								@EMAIL,					
					ID_CATEGORIA_CLIENTE=				@ID_CATEGORIA_CLIENTE,	
					ID_TIPO_IDENTIFICACION=				@ID_TIPO_IDENTIFICACION,	
					EDAD	=							@EDAD		

		where ID_CLIENTE= @ID_CLIENTE
	END

	IF @PROCTYPE=4
	BEGIN
		DELETE FROM Cliente WHERE ID_CLIENTE=@ID_CLIENTE
	END

	IF @PROCTYPE=5
	BEGIN
		SELECT distinct
		cli.ID_CLIENTE,
		NOMENCLATURA,
		IDENTIFICACION_CLIENTE,	
		NOMBRE_CLIENTE,
		EDAD,			
		DIRECCION_CLIENTE,		
		TELEFONO_CLIENTE,		
		EMAIL,	
		NOMBRE_CATEGORIA
		
		FROM Factura as fact inner join
		Cliente AS CLI ON CLI.ID_CLIENTE = FACT.ID_CLIENTE
		INNER JOIN Tipo_Identificacion AS TI ON CLI.ID_TIPO_IDENTIFICACION= TI.ID_TIPO_IDENTIFICACION
		INNER JOIN Categoria_Cliente AS CATCLI ON CLI.ID_CATEGORIA_CLIENTE= CATCLI.ID_CATEGORIA_CLIENTE
		

		WHERE CLI.EDAD <=35 AND FACT.FECHA_CREACION BETWEEN '20000201' AND '20000525'


	END

	IF @PROCTYPE=6
	BEGIN

		SELECT   
	CLIENTE.IDENTIFICACION_CLIENTE,
	CLIENTE.NOMBRE_CLIENTE,

	DATEADD(DAY, DATEDIFF ( DAY , MIN(FACTURA.FECHA_CREACION) , MAX(FACTURA.FECHA_CREACION) ) /(COUNT(*)),MAX(FACTURA.FECHA_CREACION)) AS FECHA_PROBABLE_COMPRA
				FROM FACTURA 
				INNER JOIN CLIENTE ON FACTURA.ID_CLIENTE=CLIENTE.ID_CLIENTE
				WHERE FACTURA.ID_CLIENTE= ISNULL(@ID_CLIENTE, FACTURA.ID_CLIENTE)
	GROUP BY CLIENTE.IDENTIFICACION_CLIENTE, NOMBRE_CLIENTE

	END

END

GO
/****** Object:  StoredProcedure [dbo].[CRUD_DETALLE_FACTURA]    Script Date: 6/04/2021 1:08:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CRUD_DETALLE_FACTURA]
	@PROCTYPE INT=NULL,
	@ID_DETALLE_FACTURA INT=NULL,			
	@ID_FACTURA INT=NULL,
	@ID_PRODUCTO INT=NULL,
	@CANTIDAD_PRODUCTO INT =NULL,
	@PRECIO_PRODUCTO DECIMAL=NULL
	
AS
BEGIN
	IF @PROCTYPE =1
	BEGIN
	SELECT prod.ID_PRODUCTO, 
	PROD.CODIGO_PRODUCTO,
			PROD.NOMBRE_PRODUCTO,
			SUM(DETAIL.CANTIDAD_PRODUCTO* DETAIL.PRECIO_PRODUCTO) AS TOTAL


	FROM DETALLE_FACTURA AS DETAIL
	INNER JOIN FACTURA AS FACT ON DETAIL.ID_FACTURA= FACT.ID_FACTURA
	INNER JOIN Producto AS PROD ON DETAIL.ID_PRODUCTO= PROD.ID_PRODUCTO

	WHERE YEAR( FACT.FECHA_CREACION ) = 2000

	GROUP BY PROD.ID_PRODUCTO,PROD.CODIGO_PRODUCTO,PROD.NOMBRE_PRODUCTO
	END

	IF @PROCTYPE=2
	BEGIN
	INSERT INTO DETALLE_FACTURA
	
		(
		ID_FACTURA,
		ID_PRODUCTO,
		CANTIDAD_PRODUCTO,
		PRECIO_PRODUCTO
		)
		VALUES
		(
		@ID_FACTURA,
		@ID_PRODUCTO,
		@CANTIDAD_PRODUCTO,
		@PRECIO_PRODUCTO
		
		)
	END

	IF @PROCTYPE=3
	BEGIN
	UPDATE DETALLE_FACTURA

	 SET
		ID_FACTURA	=@ID_FACTURA,		
		ID_PRODUCTO=@ID_PRODUCTO,
		CANTIDAD_PRODUCTO=@CANTIDAD_PRODUCTO,
		PRECIO_PRODUCTO = @PRECIO_PRODUCTO

	WHERE ID_DETALLE_FACTURA=@ID_DETALLE_FACTURA
	END

	 IF @PROCTYPE = 4
	BEGIN
		DELETE FROM DETALLE_FACTURA 
		WHERE ID_DETALLE_FACTURA=@ID_DETALLE_FACTURA
	END

	IF @PROCTYPE=5
	BEGIN
	SELECT 
	ID_DETALLE_FACTURA,
	ID_FACTURA,
		ID_PRODUCTO,
		CANTIDAD_PRODUCTO,
		PRECIO_PRODUCTO
	FROM Detalle_Factura
	WHERE ID_DETALLE_FACTURA=ISNULL(@ID_DETALLE_FACTURA,ID_DETALLE_FACTURA)
	END


END

GO
/****** Object:  StoredProcedure [dbo].[CRUD_FACTURA]    Script Date: 6/04/2021 1:08:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CRUD_FACTURA]
	@PROCTYPE INT=NULL,
	@ID_FACTURA INT=NULL,
	@CODIGO_FACTURA VARCHAR(50)=NULL,
	@ID_CLIENTE INT=NULL,
	@ID_DETALLE_FACTURA INT=NULL,
	@FECHA_CREACION DATE=NULL,
	@ID_ESTADO_FACTURA INT= NULL,
	@ID_MEDIO_PAGO INT=NULL


AS
BEGIN
	IF @PROCTYPE =1
	BEGIN
	SELECT
	ID_FACTURA,
	CODIGO_FACTURA,
	ID_CLIENTE,
	
	FECHA_CREACION,
	ID_ESTADO_FACTURA,
	ID_MEDIO_PAGO

	FROM FACTURA AS FACT
	WHERE ID_FACTURA=ISNULL(@ID_FACTURA,FACT.ID_FACTURA)
	
	END

	IF @PROCTYPE=2
	BEGIN
		INSERT INTO FACTURA
		(
		CODIGO_FACTURA,
		ID_CLIENTE,
		
		FECHA_CREACION,
		ID_ESTADO_FACTURA,
		ID_MEDIO_PAGO
		)
		VALUES
		(
		@CODIGO_FACTURA,
		@ID_CLIENTE,
		
		@FECHA_CREACION,
		@ID_ESTADO_FACTURA,
		@ID_MEDIO_PAGO
		)

	END
	 IF @PROCTYPE=3
	 BEGIN
	 UPDATE Factura

	 SET
		CODIGO_FACTURA=	@CODIGO_FACTURA,		 
		ID_CLIENTE	=	@ID_CLIENTE,		
		
		FECHA_CREACION		=	@FECHA_CREACION,
		ID_ESTADO_FACTURA	=	@ID_ESTADO_FACTURA,
		ID_MEDIO_PAGO		=	@ID_MEDIO_PAGO

	WHERE ID_FACTURA=@ID_FACTURA

	 END


	 IF @PROCTYPE = 4
	BEGIN
		DELETE FROM Factura 
		WHERE ID_FACTURA=@ID_FACTURA
	END
END

GO
/****** Object:  StoredProcedure [dbo].[CRUD_PRODUCTOS]    Script Date: 6/04/2021 1:08:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CRUD_PRODUCTOS]
	-- Add the parameters for the stored procedure here
	@PROCTYPE int =null,
	@ID_PRODUCTO int =null,
	@CODIGO_PRODUCTO	varchar(50)=null,
	@NOMBRE_PRODUCTO	varchar(50)=null	,
	@DESCRIPCION_PRODUCTO	varchar(150)=null,	
	@CANTIDAD_STOCK	int=null	,
	@PRECIO	float =null	,
	@ID_CATEGORIA	int=null	,
	@ID_PROVEEDOR	int=null	

AS
BEGIN
	IF @PROCTYPE = 1
	BEGIN
	SELECT 
		ID_PRODUCTO, 
		CODIGO_PRODUCTO,	
		NOMBRE_PRODUCTO,	
		DESCRIPCION_PRODUCTO,
		CANTIDAD_STOCK,	
		PRECIO,
		ID_CATEGORIA,	
		ID_PROVEEDOR
	FROM Producto
	WHERE 
		Producto.ID_PRODUCTO= ISNULL(@ID_PRODUCTO,ID_PRODUCTO)
		and Producto.CODIGO_PRODUCTO= ISNULL(@CODIGO_PRODUCTO,CODIGO_PRODUCTO) 			
		
	END

	IF @PROCTYPE = 2
	BEGIN
	INSERT INTO Producto
		( 
		ID_PRODUCTO, 
		CODIGO_PRODUCTO,	
		NOMBRE_PRODUCTO,	
		DESCRIPCION_PRODUCTO,
		CANTIDAD_STOCK,	
		PRECIO,
		ID_CATEGORIA,	
		ID_PROVEEDOR)
		VALUES
		(
		@ID_PRODUCTO, 
		@CODIGO_PRODUCTO,	
		@NOMBRE_PRODUCTO,	
		@DESCRIPCION_PRODUCTO,
		@CANTIDAD_STOCK,	
		@PRECIO,
		@ID_CATEGORIA,	
		@ID_PROVEEDOR
		)
	
	END

	IF @PROCTYPE = 3
	BEGIN
	UPDATE PRODUCTO
	SET
	
		
		CODIGO_PRODUCTO			=ISNULL(@CODIGO_PRODUCTO,CODIGO_PRODUCTO),	
		NOMBRE_PRODUCTO			=ISNULL(@NOMBRE_PRODUCTO,NOMBRE_PRODUCTO)	,	
		DESCRIPCION_PRODUCTO	=ISNULL(@DESCRIPCION_PRODUCTO,DESCRIPCION_PRODUCTO),
		CANTIDAD_STOCK			=ISNULL(@CANTIDAD_STOCK,CANTIDAD_STOCK)	,
		PRECIO					=ISNULL(@PRECIO,PRECIO)	,
		ID_CATEGORIA			=ISNULL(@ID_CATEGORIA,ID_CATEGORIA)	,
		ID_PROVEEDOR			=ISNULL(@ID_PROVEEDOR,ID_PROVEEDOR)		
		
	WHERE ID_PRODUCTO=ISNULL(@ID_PRODUCTO,ID_PRODUCTO)

	END

	IF @PROCTYPE = 4
	BEGIN
		DELETE FROM Producto 
		WHERE ID_PRODUCTO=@ID_PRODUCTO
	END

	IF @PROCTYPE = 5
	BEGIN

	SELECT 
	CODIGO_PRODUCTO,		
	NOMBRE_PRODUCTO	,	
	DESCRIPCION_PRODUCTO,
	CANTIDAD_STOCK,		
	NOMBRE_CATEGORIA,
	NOMBRE_PROVEEDOR,
	PRECIO
	
	FROM Producto AS PROD INNER JOIN Categoria_Producto AS CP ON PROD.ID_CATEGORIA= CP.ID_CATEGORIA_PRODUCTO
	INNER JOIN Proveedores  AS PROOV ON  PROD.ID_PROVEEDOR= PROOV.ID_PROVEEDOR 
				

	END



END

GO
/****** Object:  StoredProcedure [dbo].[CRUD_VENDEDOR]    Script Date: 6/04/2021 1:08:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CRUD_VENDEDOR]
	@PROCTYPE INT=NULL,
	@ID_VENDEDOR int=NULL,
	@CODIGO_VENDEDOR varchar=NULL,
	@ID_TIPO_IDENTIFICACION int=NULL,
	@NUMERO_IDENTIFICACION decimal=NULL,
	@NOMBRE_VENDEDOR varchar=NULL
AS
BEGIN
	IF @PROCTYPE=1
	BEGIN
	SELECT ID_VENDEDOR,
			CODIGO_VENDEDOR,
			ID_TIPO_IDENTIFICACION,
			NUMERO_IDENTIFICACION,
			NOMBRE_VENDEDOR
	FROM Vendedor WHERE ID_VENDEDOR=ISNULL(@ID_VENDEDOR, ID_VENDEDOR)
	END

	IF @PROCTYPE=2
	BEGIN
	INSERT INTO VENDEDOR
			( 
			CODIGO_VENDEDOR,
			ID_TIPO_IDENTIFICACION,
			NUMERO_IDENTIFICACION,
			NOMBRE_VENDEDOR)
		VALUES
		(
			@CODIGO_VENDEDOR,
			@ID_TIPO_IDENTIFICACION,
			@NUMERO_IDENTIFICACION,
			@NOMBRE_VENDEDOR
		)
	
	END

	IF @PROCTYPE=3
	BEGIN
	UPDATE Vendedor
	SET 
	CODIGO_VENDEDOR=@CODIGO_VENDEDOR,
			ID_TIPO_IDENTIFICACION=@ID_TIPO_IDENTIFICACION,
			NUMERO_IDENTIFICACION=@NUMERO_IDENTIFICACION,
			NOMBRE_VENDEDOR=@NOMBRE_VENDEDOR
	WHERE Vendedor.ID_VENDEDOR=@ID_VENDEDOR
	END

	IF @PROCTYPE=4
	BEGIN
	DELETE FROM Vendedor WHERE ID_VENDEDOR=@ID_VENDEDOR
	END
END

GO
/****** Object:  Table [dbo].[Categoria_Cliente]    Script Date: 6/04/2021 1:08:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categoria_Cliente](
	[ID_CATEGORIA_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CATEGORIA] [varchar](50) NOT NULL,
	[DESCRIPCION_CATEGORIA] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Categoria_Cliente] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categoria_Producto]    Script Date: 6/04/2021 1:08:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categoria_Producto](
	[ID_CATEGORIA_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CATEGORIA] [varchar](100) NOT NULL,
	[DESCRIPCION_CATEGORIA] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Categoria_Producto] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 6/04/2021 1:08:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[IDENTIFICACION_CLIENTE] [varchar](50) NOT NULL,
	[NOMBRE_CLIENTE] [varchar](max) NOT NULL,
	[DIRECCION_CLIENTE] [varchar](max) NOT NULL,
	[TELEFONO_CLIENTE] [decimal](10, 0) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[ID_CATEGORIA_CLIENTE] [int] NOT NULL,
	[ID_TIPO_IDENTIFICACION] [int] NOT NULL,
	[EDAD] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Detalle_Factura]    Script Date: 6/04/2021 1:08:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Factura](
	[ID_DETALLE_FACTURA] [int] IDENTITY(1,1) NOT NULL,
	[ID_FACTURA] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[CANTIDAD_PRODUCTO] [int] NOT NULL,
	[PRECIO_PRODUCTO] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Detalle_Factura] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Estado_Factura]    Script Date: 6/04/2021 1:08:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estado_Factura](
	[ID_ESTADO_FACTURA] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_ESTADO] [varchar](50) NOT NULL,
	[DESCRIPCION_ESTADO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Estado_Factura] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 6/04/2021 1:08:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Factura](
	[ID_FACTURA] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_FACTURA] [varchar](50) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[FECHA_CREACION] [date] NOT NULL,
	[ID_ESTADO_FACTURA] [int] NOT NULL,
	[ID_MEDIO_PAGO] [int] NOT NULL,
	[ID_VENDEDOR] [int] NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Medio_Pago]    Script Date: 6/04/2021 1:08:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Medio_Pago](
	[ID_MEDIO_PAGO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_MEDIO_PAGO] [varchar](50) NOT NULL,
	[DESCRIPCION_MEDIO_PAGO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Medio_Pago] PRIMARY KEY CLUSTERED 
(
	[ID_MEDIO_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 6/04/2021 1:08:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_PRODUCTO] [varchar](50) NOT NULL,
	[NOMBRE_PRODUCTO] [varchar](50) NOT NULL,
	[DESCRIPCION_PRODUCTO] [varchar](150) NOT NULL,
	[CANTIDAD_STOCK] [int] NOT NULL,
	[PRECIO] [float] NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
	[ID_PROVEEDOR] [int] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 6/04/2021 1:08:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Proveedores](
	[ID_PROVEEDOR] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_PROVEEDOR] [varchar](50) NOT NULL,
	[ID_TIPO_IDENTIFICACION] [int] NOT NULL,
	[NUMERO_IDENTIFICACION] [varchar](50) NOT NULL,
	[DIRECCION_PROVEEDOR] [varchar](100) NOT NULL,
	[TELEFONO_PROVEEDOR] [decimal](10, 0) NOT NULL,
	[EMAIL_PROVEEDOR] [varchar](50) NOT NULL,
	[NOMBRE_PROVEEDOR] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tipo_Identificacion]    Script Date: 6/04/2021 1:08:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tipo_Identificacion](
	[ID_TIPO_IDENTIFICACION] [int] IDENTITY(1,1) NOT NULL,
	[NOMENCLATURA] [varchar](12) NOT NULL,
	[DESCRIPCION_TI] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tipo_Identificacion] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_IDENTIFICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vendedor]    Script Date: 6/04/2021 1:08:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vendedor](
	[ID_VENDEDOR] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_VENDEDOR] [varchar](50) NOT NULL,
	[ID_TIPO_IDENTIFICACION] [int] NOT NULL,
	[NUMERO_IDENTIFICACION] [decimal](18, 0) NOT NULL,
	[NOMBRE_VENDEDOR] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Vendedor] PRIMARY KEY CLUSTERED 
(
	[ID_VENDEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria_Cliente] ON 

GO
INSERT [dbo].[Categoria_Cliente] ([ID_CATEGORIA_CLIENTE], [NOMBRE_CATEGORIA], [DESCRIPCION_CATEGORIA]) VALUES (1, N'PERSONA NATURAL', N'PERSONA NATURAL')
GO
INSERT [dbo].[Categoria_Cliente] ([ID_CATEGORIA_CLIENTE], [NOMBRE_CATEGORIA], [DESCRIPCION_CATEGORIA]) VALUES (2, N'PERSONA JURIDICA', N'PERSONA JURIDICA')
GO
SET IDENTITY_INSERT [dbo].[Categoria_Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria_Producto] ON 

GO
INSERT [dbo].[Categoria_Producto] ([ID_CATEGORIA_PRODUCTO], [NOMBRE_CATEGORIA], [DESCRIPCION_CATEGORIA]) VALUES (1, N'HOGAR', N'HOGAR')
GO
INSERT [dbo].[Categoria_Producto] ([ID_CATEGORIA_PRODUCTO], [NOMBRE_CATEGORIA], [DESCRIPCION_CATEGORIA]) VALUES (2, N'ELECTREODOMESTICO', N'ELECTREODOMESTICO')
GO
INSERT [dbo].[Categoria_Producto] ([ID_CATEGORIA_PRODUCTO], [NOMBRE_CATEGORIA], [DESCRIPCION_CATEGORIA]) VALUES (3, N'MISELANEA', N'MISELANEA')
GO
SET IDENTITY_INSERT [dbo].[Categoria_Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

GO
INSERT [dbo].[Cliente] ([ID_CLIENTE], [IDENTIFICACION_CLIENTE], [NOMBRE_CLIENTE], [DIRECCION_CLIENTE], [TELEFONO_CLIENTE], [EMAIL], [ID_CATEGORIA_CLIENTE], [ID_TIPO_IDENTIFICACION], [EDAD]) VALUES (3, N'124578787', N'UAN PEREZ', N'AKSDJFKJFHJASH', CAST(3125558877 AS Decimal(10, 0)), N'JOPASNJADK', 1, 1, 32)
GO
INSERT [dbo].[Cliente] ([ID_CLIENTE], [IDENTIFICACION_CLIENTE], [NOMBRE_CLIENTE], [DIRECCION_CLIENTE], [TELEFONO_CLIENTE], [EMAIL], [ID_CATEGORIA_CLIENTE], [ID_TIPO_IDENTIFICACION], [EDAD]) VALUES (5, N'34324545546', N'JOSE ARRIETA', N'DASDASDASSDFG', CAST(310222444 AS Decimal(10, 0)), N'SDFSDFSDF', 2, 1, 40)
GO
INSERT [dbo].[Cliente] ([ID_CLIENTE], [IDENTIFICACION_CLIENTE], [NOMBRE_CLIENTE], [DIRECCION_CLIENTE], [TELEFONO_CLIENTE], [EMAIL], [ID_CATEGORIA_CLIENTE], [ID_TIPO_IDENTIFICACION], [EDAD]) VALUES (6, N'7454185547', N'JOSE ANGEL ARRIETA', N'ASDASDFSDFGF', CAST(3201114422 AS Decimal(10, 0)), N'SDFSDFDASF', 2, 3, 35)
GO
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_Factura] ON 

GO
INSERT [dbo].[Detalle_Factura] ([ID_DETALLE_FACTURA], [ID_FACTURA], [ID_PRODUCTO], [CANTIDAD_PRODUCTO], [PRECIO_PRODUCTO]) VALUES (4, 5, 2, 12, CAST(12000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Detalle_Factura] ([ID_DETALLE_FACTURA], [ID_FACTURA], [ID_PRODUCTO], [CANTIDAD_PRODUCTO], [PRECIO_PRODUCTO]) VALUES (5, 7, 3, 2, CAST(15000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Detalle_Factura] ([ID_DETALLE_FACTURA], [ID_FACTURA], [ID_PRODUCTO], [CANTIDAD_PRODUCTO], [PRECIO_PRODUCTO]) VALUES (6, 8, 4, 3, CAST(20000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Detalle_Factura] OFF
GO
SET IDENTITY_INSERT [dbo].[Estado_Factura] ON 

GO
INSERT [dbo].[Estado_Factura] ([ID_ESTADO_FACTURA], [CODIGO_ESTADO], [DESCRIPCION_ESTADO]) VALUES (1, N'1', N'PENDIENTE')
GO
INSERT [dbo].[Estado_Factura] ([ID_ESTADO_FACTURA], [CODIGO_ESTADO], [DESCRIPCION_ESTADO]) VALUES (2, N'2', N'EN TRAMITE')
GO
INSERT [dbo].[Estado_Factura] ([ID_ESTADO_FACTURA], [CODIGO_ESTADO], [DESCRIPCION_ESTADO]) VALUES (3, N'3', N'PAGA')
GO
SET IDENTITY_INSERT [dbo].[Estado_Factura] OFF
GO
SET IDENTITY_INSERT [dbo].[Factura] ON 

GO
INSERT [dbo].[Factura] ([ID_FACTURA], [CODIGO_FACTURA], [ID_CLIENTE], [FECHA_CREACION], [ID_ESTADO_FACTURA], [ID_MEDIO_PAGO], [ID_VENDEDOR]) VALUES (5, N'32145555', 3, CAST(0x31240B00 AS Date), 1, 1, NULL)
GO
INSERT [dbo].[Factura] ([ID_FACTURA], [CODIGO_FACTURA], [ID_CLIENTE], [FECHA_CREACION], [ID_ESTADO_FACTURA], [ID_MEDIO_PAGO], [ID_VENDEDOR]) VALUES (7, N'3214555522', 5, CAST(0x34240B00 AS Date), 2, 2, NULL)
GO
INSERT [dbo].[Factura] ([ID_FACTURA], [CODIGO_FACTURA], [ID_CLIENTE], [FECHA_CREACION], [ID_ESTADO_FACTURA], [ID_MEDIO_PAGO], [ID_VENDEDOR]) VALUES (8, N'098765', 6, CAST(0x37240B00 AS Date), 3, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Factura] OFF
GO
SET IDENTITY_INSERT [dbo].[Medio_Pago] ON 

GO
INSERT [dbo].[Medio_Pago] ([ID_MEDIO_PAGO], [CODIGO_MEDIO_PAGO], [DESCRIPCION_MEDIO_PAGO]) VALUES (1, N'1', N'CREDITO')
GO
INSERT [dbo].[Medio_Pago] ([ID_MEDIO_PAGO], [CODIGO_MEDIO_PAGO], [DESCRIPCION_MEDIO_PAGO]) VALUES (2, N'2', N'EFECTIVO')
GO
INSERT [dbo].[Medio_Pago] ([ID_MEDIO_PAGO], [CODIGO_MEDIO_PAGO], [DESCRIPCION_MEDIO_PAGO]) VALUES (3, N'3', N'TARJETA DE CREDITO')
GO
SET IDENTITY_INSERT [dbo].[Medio_Pago] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

GO
INSERT [dbo].[Producto] ([ID_PRODUCTO], [CODIGO_PRODUCTO], [NOMBRE_PRODUCTO], [DESCRIPCION_PRODUCTO], [CANTIDAD_STOCK], [PRECIO], [ID_CATEGORIA], [ID_PROVEEDOR]) VALUES (2, N'1245', N'MESA', N'MESA', 10, 12500, 1, 1)
GO
INSERT [dbo].[Producto] ([ID_PRODUCTO], [CODIGO_PRODUCTO], [NOMBRE_PRODUCTO], [DESCRIPCION_PRODUCTO], [CANTIDAD_STOCK], [PRECIO], [ID_CATEGORIA], [ID_PROVEEDOR]) VALUES (3, N'345566', N'SALA', N'SALA', 4, 125555555, 1, 1)
GO
INSERT [dbo].[Producto] ([ID_PRODUCTO], [CODIGO_PRODUCTO], [NOMBRE_PRODUCTO], [DESCRIPCION_PRODUCTO], [CANTIDAD_STOCK], [PRECIO], [ID_CATEGORIA], [ID_PROVEEDOR]) VALUES (4, N'76545667', N'OLLA', N'OLLA', 5, 22500, 1, 4)
GO
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

GO
INSERT [dbo].[Proveedores] ([ID_PROVEEDOR], [CODIGO_PROVEEDOR], [ID_TIPO_IDENTIFICACION], [NUMERO_IDENTIFICACION], [DIRECCION_PROVEEDOR], [TELEFONO_PROVEEDOR], [EMAIL_PROVEEDOR], [NOMBRE_PROVEEDOR]) VALUES (1, N'125412', 1, N'124578-81', N'DSSDFFG', CAST(312555447 AS Decimal(10, 0)), N'FSDFDSFDSFSDF', N'SURTIDORA1')
GO
INSERT [dbo].[Proveedores] ([ID_PROVEEDOR], [CODIGO_PROVEEDOR], [ID_TIPO_IDENTIFICACION], [NUMERO_IDENTIFICACION], [DIRECCION_PROVEEDOR], [TELEFONO_PROVEEDOR], [EMAIL_PROVEEDOR], [NOMBRE_PROVEEDOR]) VALUES (4, N'23445', 1, N'343454353', N'DFDFDSF', CAST(3201112211 AS Decimal(10, 0)), N'DSFSDFGFG', N'SURTIDORA2')
GO
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipo_Identificacion] ON 

GO
INSERT [dbo].[Tipo_Identificacion] ([ID_TIPO_IDENTIFICACION], [NOMENCLATURA], [DESCRIPCION_TI]) VALUES (1, N'NIT', N'NIT')
GO
INSERT [dbo].[Tipo_Identificacion] ([ID_TIPO_IDENTIFICACION], [NOMENCLATURA], [DESCRIPCION_TI]) VALUES (2, N'CC', N'CEDULA DE CIUDADANIA')
GO
INSERT [dbo].[Tipo_Identificacion] ([ID_TIPO_IDENTIFICACION], [NOMENCLATURA], [DESCRIPCION_TI]) VALUES (3, N'CE', N'CEDULA DE EXTRANJERIA')
GO
SET IDENTITY_INSERT [dbo].[Tipo_Identificacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendedor] ON 

GO
INSERT [dbo].[Vendedor] ([ID_VENDEDOR], [CODIGO_VENDEDOR], [ID_TIPO_IDENTIFICACION], [NUMERO_IDENTIFICACION], [NOMBRE_VENDEDOR]) VALUES (1, N'12345', 2, CAST(123456787 AS Decimal(18, 0)), N'JUAN')
GO
INSERT [dbo].[Vendedor] ([ID_VENDEDOR], [CODIGO_VENDEDOR], [ID_TIPO_IDENTIFICACION], [NUMERO_IDENTIFICACION], [NOMBRE_VENDEDOR]) VALUES (2, N'34654', 2, CAST(9876545678 AS Decimal(18, 0)), N'PEDRO')
GO
SET IDENTITY_INSERT [dbo].[Vendedor] OFF
GO
ALTER TABLE [dbo].[Cliente]  WITH NOCHECK ADD  CONSTRAINT [FK_Cliente_Categoria_Cliente] FOREIGN KEY([ID_CATEGORIA_CLIENTE])
REFERENCES [dbo].[Categoria_Cliente] ([ID_CATEGORIA_CLIENTE])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Cliente] NOCHECK CONSTRAINT [FK_Cliente_Categoria_Cliente]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Tipo_Identificacion] FOREIGN KEY([ID_TIPO_IDENTIFICACION])
REFERENCES [dbo].[Tipo_Identificacion] ([ID_TIPO_IDENTIFICACION])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Tipo_Identificacion]
GO
ALTER TABLE [dbo].[Detalle_Factura]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Factura_Factura] FOREIGN KEY([ID_FACTURA])
REFERENCES [dbo].[Factura] ([ID_FACTURA])
GO
ALTER TABLE [dbo].[Detalle_Factura] CHECK CONSTRAINT [FK_Detalle_Factura_Factura]
GO
ALTER TABLE [dbo].[Detalle_Factura]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Factura_Producto] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[Producto] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[Detalle_Factura] CHECK CONSTRAINT [FK_Detalle_Factura_Producto]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Cliente] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[Cliente] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Cliente]
GO
ALTER TABLE [dbo].[Factura]  WITH NOCHECK ADD  CONSTRAINT [FK_Factura_Estado_Factura] FOREIGN KEY([ID_ESTADO_FACTURA])
REFERENCES [dbo].[Estado_Factura] ([ID_ESTADO_FACTURA])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Factura] NOCHECK CONSTRAINT [FK_Factura_Estado_Factura]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Medio_Pago] FOREIGN KEY([ID_MEDIO_PAGO])
REFERENCES [dbo].[Medio_Pago] ([ID_MEDIO_PAGO])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Medio_Pago]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria_Producto] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[Categoria_Producto] ([ID_CATEGORIA_PRODUCTO])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria_Producto]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Proveedores] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[Proveedores] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Proveedores]
GO
ALTER TABLE [dbo].[Proveedores]  WITH CHECK ADD  CONSTRAINT [FK_Proveedores_Tipo_Identificacion] FOREIGN KEY([ID_TIPO_IDENTIFICACION])
REFERENCES [dbo].[Tipo_Identificacion] ([ID_TIPO_IDENTIFICACION])
GO
ALTER TABLE [dbo].[Proveedores] CHECK CONSTRAINT [FK_Proveedores_Tipo_Identificacion]
GO
ALTER TABLE [dbo].[Vendedor]  WITH CHECK ADD  CONSTRAINT [FK_Vendedor_Tipo_Identificacion] FOREIGN KEY([ID_TIPO_IDENTIFICACION])
REFERENCES [dbo].[Tipo_Identificacion] ([ID_TIPO_IDENTIFICACION])
GO
ALTER TABLE [dbo].[Vendedor] CHECK CONSTRAINT [FK_Vendedor_Tipo_Identificacion]
GO
USE [master]
GO
